
export PATH=~/.pyenv/bin:$PATH
export PATH=${HOME}/arduino-mk/bin:$PATH
export PIPENV_VENV_IN_PROJECT="enabled"
export TOOLSFOLDER="${HOME}/tools"
export ARDMK_DIR=${TOOLSFOLDER}/arduino-makefile/arduino-mk/
export ARDMK_DIR_ESP=${TOOLSFOLDER}/arduino-makefile/arduino-mk-esp/
export MAKE_ESP_ARD_DIR="${TOOLSFOLDER}/arduino-makefile/make-esp-arduino/"
export MAKE_ESP_ARD_MK="${MAKE_ESP_ARD_DIR}makeEspArduino.mk "
export ESP8266_ROOT="${TOOLSFOLDER}/environments/esp8266"
export ESP32_ROOT="${TOOLSFOLDER}/environments/esp32"
alias espmake8266="make ESP_ROOT=${ESP8266_ROOT} -f "
alias espmake32="make CHIP=esp32 ESP_ROOT=${ESP32_ROOT} -f "
source .venv/bin/activate
